.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10rem;
    max-width: 100%;
  }
  &-me {
    &-title-flex {
      display: flex;
      &-heading {
        width: 55%;
        h1 {
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      &-img {
        width: 23rem;
        img {
          width: 100%;
          filter: grayscale(80%);
        }
      }
    }
    &-description-flex {
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 57rem;
      padding-top: 10rem;
      position: relative;

      &-text {
        width: 30%;
        p {
          font-size: $fontText;
          font-weight: 400;
          text-align: justify;
        }
      }
      &-img {
        width: 25rem;
        position: absolute;
        top: 5rem;
        right: 41rem;
        transform: rotate(-6deg);
        img {
          width: 100%;
          filter: grayscale(80%);
        }
      }
    }
  }
}
