.contact {
  position: relative;
  &-container {
    display: flex;
    padding: 12rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &-content {
    &-header {
      width: 52rem;
    }
    &-name {
      margin-bottom: 2rem;
      h4 {
        font-size: 3rem;
      }
    }
    &-heading {
      h1 {
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }
  &-address {
    &-title,
    &-mobile,
    &-email {
      p {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.5;
        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
  &-img {
    width: 32rem;
    position: absolute;
    right: 30rem;
    top: 23%;
    transform: rotate(10deg);
    img {
      width: 100%;
      filter: grayscale(80%);
    }
  }
}
