.work-exp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &-container {
    padding: 6rem 12rem;
  }
  &-heading {
    padding-bottom: 4rem;
    width: 30%;
    h1 {
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  &-content {
    &-card {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
      .designation {
        font-weight: 900;
        font-size: 2.7rem;
        margin-bottom: 1rem;
      }
      .company {
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 0.4rem;
      }
      .period {
        font-weight: 400;
        color: rgba($color: $black, $alpha: 0.8);
        font-size: 1.6rem;
      }
    }
  }
  &-img {
    width: 53rem;
    position: absolute;
    right: 20rem;
    bottom: 20rem;
    img {
      width: 100%;
      filter: grayscale(80%);
    }
  }
}
